:root {
    --h1-margin: 75px;
}

main h1 {
    margin-left: var(--h1-margin);
}

main h2 {
    margin-left: calc(1.5 * var(--h1-margin));
}

main h3 {
    margin-left: calc(1.5 * var(--h1-margin));
}

main p {
    margin-left: calc(2 * var(--h1-margin));
    max-width: 50vw;
}