# Hemmelig informasjon. Viktig.
.env

# Python-relatert
__pycache__/

# Ulike Environmenter
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE og kode-editor filer.
.vscode/
.idea/

# Annet
oppgavetekst/
Mal_for_dokumentasjon_av_prosjekt.md