{% extends "base.html" %}

<!-- Tittel -->
{% block title %}Home{% endblock %}

<!-- Innhold -->
{% block content %}
<!-- Koden under er tatt fra flask sin nettside med dokumentasjon -->
<!-- Henter (og viser) flashes om det er noen -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<!-- Viser alle brettspill fra db -->
<!-- i[0] = navn, i[1] = år, i[3] = bilde -->
<div class="boardgame-showcase-cont">
    {% if bg_info %}
    {% for i in bg_info %}
    <div class="boardgame-card-cont">
        <img src="{{ i[3] }}" alt="Box cover image for {{ i[0] }}">
        <p>{{ i[0] }} ({{ i[1] }})</p>
    </div>
    {% endfor %}
    {% else %}
    <p>No boardgames to show :/</p>
    {% endif %}
</div>
{% endblock %}