<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage - IBDb</title>
    <link rel="stylesheet" href="../static/stylesheets/style.css">
</head>

<body>
    <nav>
        <a href="index.html">
            <h2>Internet Boardgame Database</h2>
        </a>
        <ul>
            <!-- Søkefelt -->
            <!-- Creds til Ochoaprojects. Se kilder. Modifisert. -->
            <form action="/search" method="POST">
                <button type="submit">&#128270;</button>
                <input type="text" name="query" placeholder="Search">
            </form>
            <li><a class="active" href="index.html">Homepage</a></li>
            <li><a href="register_boardgame.html">Register Boardgame</a></li>
            <li><a href="login.html">Log In</a></li>
            <li><a href="#">Log Out</a></li>
        </ul>
    </nav>
    <main>
        <ul class=flashes>
            <li>Successfully logged in!</li>
        </ul>
        <div class="boardgame-showcase-cont">
            <h2>Browse Boardgames</h2>
            <div class="boardgame-card-cont">
                <img src="../static/media/azul_master_chocolatier.webp" alt="Box for Azul: Master Chocolatier">
                <p>Azul: Master Chocolatier (2022)</p>
            </div>
        </div>
    </main>
</body>

</html>