{% extends "base.html" %}

<!-- Tittel -->
{% block title %}Login{% endblock %}

<!-- Innhold -->
{% block content %}
<div class="user-form-cont">
    <div>
        <h2>Log In</h2>
        <form method="POST" action="{{ url_for('login') }}">
            <label for="username">Username</label><br>
            <input type="text" id="username" name="username" required><br><br>

            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" required><br><br>

            <button type="submit">Log In</button>
        </form>
        <p>Don't have a user? You can sign up <a href="{{ url_for('register') }}">here.</a></p>
    </div>
    <!-- Koden under er tatt fra flask sin nettside med dokumentasjon -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}