<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - IBDb</title>
    <link rel="stylesheet" href="../static/stylesheets/style.css">
</head>

<body>
    <nav>
        <a href="index.html">
            <h2>Internet Boardgame Database</h2>
        </a>
        <ul>
            <!-- Søkefelt -->
            <!-- Creds til Ochoaprojects. Se kilder. Modifisert. -->
            <form action="/search" method="POST">
                <button type="submit">&#128270;</button>
                <input type="text" name="query" placeholder="Search">
            </form>
            <li><a href="index.html">Homepage</a></li>
            <li><a href="register_boardgame.html">Register Boardgame</a></li>
            <li><a class="active" href="login.html">Log In</a></li>
            <li><a href="#">Log Out</a></li>
        </ul>
    </nav>
    <main>
        <div class="user-forms-cont">
            <div>
                <h2>Log In</h2>
                <form method="POST" action="{{ url_for('login') }}">
                    <label for="username">Username</label><br>
                    <input type="text" id="username" name="username" required><br><br>

                    <label for="password">Password</label><br>
                    <input type="password" id="password" name="password" required><br><br>

                    <button type="submit">Log In</button>
                </form>
                <p>Don't have a user? Click the link to <a href="register.html">sign up.</a></p>
            </div>
            <ul class=flashes>
                <li>Insert Flash</li>
            </ul>
        </div>
    </main>
</body>

</html>