<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - IBDb</title>
    <link rel="stylesheet" href="../static/stylesheets/style.css">
</head>

<body>
    <nav>
        <a href="{{ url_for('index') }}">
            <h1>IBDb</h1>
        </a>
        <ul>
            <!-- Søkefelt -->
            <!-- Creds til Ochoaprojects. Se kilder. Modifisert. -->
            <form action="/search" method="POST">
                <button type="submit">&#128270;</button>
                <input type="text" name="query" placeholder="Search">
            </form>
            <li><a href="{{ url_for('index') }}">Homepage</a></li>
            {% if not (session.get("username") and session.get("role_id")) %}
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            {% endif %}
            <!-- Lenke vises bare ved riktig rolle (admin/editor) -->
            {% if session.get("role_id") in (1, 2) %}
            <li><a href="{{ url_for('register_boardgame') }}">Register Boardgame</a></li>
            {% endif %}
            {% if session.get("username") or session.get("role_id") %}
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="user-form-cont">
        <div>
            <h2>Registrer a New User</h2>
            <form method="POST" action="{{ url_for('register') }}">
                <label for="username">Username</label><br>
                <input type="text" id="username" name="username" required><br><br>

                <label for="email">Email</label><br>
                <input type="email" id="email" name="email" required><br><br>

                <label for="password">Password</label><br>
                <input type="password" id="password" name="password" required><br><br>

                <button type="submit">Register</button>
            </form>
        </div>
    </div>
</body>

</html>