{% extends "base.html" %}

<!-- Tittel -->
{% block title %}Register{% endblock %}

<!-- Innhold -->
{% block content %}
<div class="user-form-cont">
    <div>
        <h2>Registrer a New User</h2>
        <form method="POST" action="{{ url_for('register') }}">
            <label for="username">Username</label><br>
            <input type="text" id="username" name="username" required><br><br>

            <label for="email">Email</label><br>
            <input type="email" id="email" name="email" required><br><br>

            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" required><br><br>

            <button type="submit">Register</button>
        </form>
    </div>
</div>
{% endblock %}
