{% extends "base.html" %}

<!-- Tittel -->
{% block title %}Register a Boardgame{% endblock %}

<!-- Innhold -->
{% block content %}
<h2 class="general-heading">Register a Boardgame</h2>
<div class="user-form-cont">
    <div>
        <form method="POST">
            <label for="name">Name of boardgame</label><br>
            <input type="text" name="name" required><br><br>

            <label for="year">Year</label><br>
            <input type="text" name="year"><br><br>

            <label for="creator">Creators</label><br>
            <input type="text" name="creator"><br><br>

            <label for="publisher">Publisher</label><br>
            <input type="text" name="publisher"><br><br>

            <label for="img-filename">Image Filename</label><br>
            <input type="text" name="img-filename"><br><br>

            <label for="description">Description</label><br>
            <textarea id="description" name="description"
                placeholder="Description of the boardgame..."></textarea><br><br>

            <button type="submit">Register boardgame</button>
        </form>
    </div>
</div>

{% endblock %}
