<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register a Boardgame - IBDb</title>
    <link rel="stylesheet" href="../static/stylesheets/style.css">
</head>

<body>
    <nav>
        <a href="index.html">
            <h2>Internet Boardgame Database</h2>
        </a>
        <ul>
            <!-- Søkefelt -->
            <!-- Creds til Ochoaprojects. Se kilder. Modifisert. -->
            <form action="/search" method="POST">
                <button type="submit">&#128270;</button>
                <input type="text" name="query" placeholder="Search">
            </form>
            <li><a href="index.html">Homepage</a></li>
            <li><a class="active" href="register_boardgame.html">Register Boardgame</a></li>
            <li><a href="login.html">Log In</a></li>
            <li><a href="#">Log Out</a></li>
        </ul>
    </nav>
    <main>
        <div class="user-forms-cont">
            <div>
                <h2>Register a Boardgame</h2>
                <form method="POST">
                    <label for="name">Name of boardgame</label><br>
                    <input type="text" id="name" name="name" required><br><br>

                    <label for="year">Year</label><br>
                    <input type="text" id="year" name="year"><br><br>

                    <label for="creator">Creator</label><br>
                    <input type="text" id="creator" name="creator"><br><br>

                    <label for="publisher">Publisher</label><br>
                    <input type="text" id="publisher" name="publisher"><br><br>

                    <label for="description">Description</label><br>
                    <textarea id="description" name="description"
                        placeholder="Description of the boardgame..."></textarea><br><br>

                    <button type="submit">Register boardgame</button>
                </form>
                <ul class=flashes>
                    <li>Insert Flash</li>
                </ul>
            </div>
        </div>
    </main>
</body>

</html>